<?xml version="1.0" encoding="UTF-8"?>
<configuration status="warn" monitorInterval="0">

    <properties>
        <property name="LOG_HOME">../logs</property>
        <property name="PROJECT">spring</property>
        <property name="FORMAT">%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</property>
    </properties>

    <appenders>
        <console name="Console" target="system_out">
            <patternLayout pattern="${FORMAT}" />
        </console>

        <JDBC name="databaseAppender" bufferSize="20" tableName="boot_log">
            <ConnectionFactory class="org.shifang.usermanage.log.ConnectionFactory" method="getDatabaseConnection" />
            <Column name="event_id" pattern="%X{id}" />
            <Column name="event_date" isEventTimestamp="true" />
            <Column name="thread" pattern="%t %x" />
            <Column name="class" pattern="%C" />
            <Column name="`function`" pattern="%M" />
            <Column name="message" pattern="%m" />
            <Column name="exception" pattern="%ex{full}" />
            <Column name="level" pattern="%level" />
            <Column name="time" pattern="%d{yyyy-MM-dd HH:mm:ss.SSS}" />
        </JDBC>
    </appenders>

    <loggers>
        <logger name="org.springframework" level="INFO" />
        <root level="INFO">
            <appender-ref ref="Console" />
            <appender-ref ref="databaseAppender" />
        </root>
    </loggers>
</configuration>
